  <launch>
	<node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab2)/world/playground2.world" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lab2)/rviz/lab2_rviz.rviz" />
    <node pkg="lab2" type="BUG2.py" 
          name="perception" output="screen"/>


  </launch>